

.site-sidebar .logo {
    height: 90px;
}

.portal-header-navbar .logo {
    height: 90px;
}

.portal-contents {
	 display: none;
}

.featured-content-label {
	display: none;
}

.cat-panel-1:before{
    content: "\f040"; 
}

.cat-panel-2:before{
    content: "\f0d6"; 
}

.cat-panel-3:before{
    content: "\f007"; 
}


